moc_*
i-score.app/
i-score.pro.user #ne faut-il pas plutot les partager pour avoir les meme configurations Qt Creator
i-score.pro.user.* #ne faut-il pas plutot les partager pour avoir les meme configurations Qt Creator
i-score.pro.user.3.0-pre1
compiler_*
*~
\#*
installer_data
Info.plist
qrc_i-score.cpp
org.eclipse*
installation/acousmoscribe_MacOS_10_6*
installation/acousmoscribe_MacOS_10_4*
installation/acousmoscribe_ubuntu32*
installation/acousmoscribe_ubuntu64*
/i-score.app/Contents/MacOS/i-score
.DS_Store
logs
build
Debug
Release
Makefile
xcuserdata
*.mode1v3
*.pbxuser
*.perspectivev3
*.mak
*.plist
*.pbxproj
project.xcworkspace
*.mak
*.layout
*.depends
*.ncb
*.suo
*.user
*.tm_build_errors
*.a
*.lib
*.orig
*.o
doxygen/html/
/qrc_i-score.cpp
/DerivedData/i-score/Index/i-score.hmap
/i-score/Index/i-score.hmap
/src/.DS_Store
.cproject
.project
i-score.pro.user.3.2-pre1
