*svn*
*.o
moc_*
acousmoscribe.app
acousmoscribe.xcodeproj
qrc_acousmoscribe.cpp
.DS_Store
compiler_*
*~
\#*
org.eclipse*
Doxyfile
installation/acousmoscribe_MacOS_10_6*
installation/acousmoscribe_MacOS_10_4*
installation/acousmoscribe_ubuntu32*
installation/acousmoscribe_ubuntu64*